.dateContainer {
  text-align: center;
}

.table {
  width: 100%;
  margin-bottom: 12px;
  font-weight:200;
}

.inner {
  border: none;
  width:25%;
  border-right-color: blue;
  border-right-style: solid;
  border-right-width: 2px;
}
