.header {
  color: blue;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.measurementList {
  background-color: cadetblue;
}

.footer {
  background-color: coral;
}

.table {
  width: 100%;
  color: #fa991b;
  margin-bottom: 30px;
}

.inner {
  border: none;
  width:25%;
  border-right-color: blue;
  border-right-style: solid;
  border-right-width: 4px;
}
