.container {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: linear-gradient(rgb(95, 159, 243),rgb(5, 48, 128));
}

.mainElement  {
  height: 85%;
  overflow: hidden;
}

.footer {
  height: 15%;
}
